@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
}

a {
  transition: color 0.3s ease;
}

.btn-primary {
  background-color: #e31e24;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #b71820;
}

.btn-secondary {
  border: 2px solid #e31e24;
  color: #e31e24;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #e31e24;
  color: white;
}
